{
	"extends": "airbnb",
	"parserOptions": {
		"ecmaVersion": 6
	},
	"env": {
		"browser": true,
		"jest": true
	},
	"rules": {
		"comma-dangle": ["error", "never"],
		"no-console": "warn",
		"consistent-return": "off",
		"no-unused-vars": [
			"error",
			{
				"vars": "local",
				"args": "none"
			}
		]
	}
}
